<body>
    <div>
        <img class="img-fluid" src="assets/slide2.jpg" alt="M&S LTDA ">
    </div>

    <br>
    <div class=" font-weight-cooper text-center">
        <h2>¿QUE PODEMOS HACER POR USTED?</h2>
    </div>

    <br>
    <div class="text-center text-primary">
        <h4>Somos visiòn tecnologica, empresa lider en alquiler de equipos de computo. Le brindamos</h4>
        <h4>atención personalizada para brindarle respuestas integrales acorde a sus necesidades.</h4>
    </div>

    <br>
    <div class=" font-weight-cooper text-center">
        <h2>NUESTROS BENEFICIOS</h2>
    </div>

    <div class="container">

        <div class="row row-cols-1 row-cols-md-3 text-left ">

            <div class="col mb-4" style="max-width: 22rem;">
                <div class="card-body">
                    <img src="assets/autobu.png" height="80px" class= "mx-auto d-block" alt="M&S LTDA ">
                    <br>
                    <h5 class="card-title text-primary">TRANSPORTE</h5>
                    <p class="card-text text-left">Entrega rapida, preparamos tus equipos y los entregamos en tiempos record. 
                    </p>
                </div>
            </div>

            <div class="col mb-4" style="max-width: 22rem;">
                <div class="card-body">
                    <img src="assets/pc.png" height="80px" class= "mx-auto d-block" alt="M&S LTDA ">
                    <br>
                    <h5 class="card-title text-primary">INSTALACIÓN</h5>
                    <p class="card-text text-left">Equipos actualizados del mercado, puesta a punto de los equipos en las instalaciones del cliente
                    </p>
                </div>
            </div>

            <div class="col mb-4" style="max-width: 22rem;">
                <div class="card-body">
                    <img src="assets/ajustes.png" height="80px" class= "mx-auto d-block" alt="M&S LTDA ">
                    <br>
                    <h5 class="card-title text-primary">RECUPERACIÓN DE DATOS</h5>
                    <p class="card-text text-left">Su información estará 100% segura realizando backups y utilizando
                        políticas de
                        respaldo.</p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 text-left">

            <div class="col mb-4" style="max-width: 22rem;">
                <div class="card-body">
                    <img src="assets/cliente.png" height="80px" class= "mx-auto d-block"  alt="M&S LTDA ">
                    <br>
                    <h5 class="card-title text-primary"> <img > PERSONAL CERTIFICADO</h5>
                    <p class="card-text text-left">Nuestros asesores y técnicos atenderán tus inquietudes por vía telefónica.
                    </p>
                </div>
            </div>


            <div class="col mb-4" style="max-width: 22rem;">
                <div class="card-body">
                    <img src="assets/telefonos.png" height="80px" class= "mx-auto d-block"  alt="M&S LTDA ">
                    <br>
                    <h5 class="card-title text-primary">AYUDA TELEFÓNICA </h5>
                    <p class="card-text text-left">Servicio al cliente, asesorías en temas de funcionamiento y cotización de equipos de computo. 
                    </p>
                </div>
            </div>

            <div class="col mb-4" style="max-width: 22rem;">
                <div class="card-body">
                    <img src="assets/seguridad.png" height="80px"  class= "mx-auto d-block" alt="M&S LTDA ">
                    <br>
                    <h5 class="card-title text-primary">Seguridad</h5>
                    <p class="card-text text-left">Equipos de comutos seguros y confiables, libre de virus, garantizamos alta confianza con nosotros</p>
                </div>
            </div>
        </div>
    </div>
</body>
