<br>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card  shadow-lg p-3 mb-5 bg-white>">
                <div class="card-header bg-primary">
                    <h4 class="text-white text-center">ALQUILER DE EQUIPOS</h4>
                </div>

                <div class="card-body">

                    <form>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="email">@</span>
                                    </div>
                                    <input type="email" class="form-control" id="email" placeholder="Correo Electrónico"
                                        aria-describedby="email2" required>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="marca_pc">Marca del equipo</label>
                                <select class="form-control" id="marca_pc" required>
                                    <option value="">Marca del equipo</option>
                                    <option value="hp">Hp</option>
                                    <option value="Lenovo">Lenovo</option>
                                    <option value="Acer">Acer</option>
                                    <option value="Apple">Apple</option>
                                    <option value="AlienWare">AlienWare</option>
                                    <option value="Toshiba">Toshiba</option>
                                    <option value="Asus">Asus</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Gateway">Gateway</option>
                                    <option value="Sony">Sony</option>
                                    <option value="LG">LG</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-4">
                                <label for="tipo_pc">Tipo de equipo</label>
                                <select class="form-control" id="tipo_pc" required>
                                    <option value="">Tipo de equipo</option>
                                    <option value="Escritorio">Escritorio</option>
                                    <option value="Portatil">Portatil</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-4">
                                <label for="memoria_pc">Memoria del equipo</label>
                                <select class="form-control" id="memoria_pc" required>
                                    <option value="">Memoria del equipo</option>
                                    <option value="Escritorio">2 GB</option>
                                    <option value="Portatil">8 GB</option>
                                    <option value="Portatil">16 GB</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="modelo"> Modelo del equipo</label>
                                <input type="text" class="form-control" id="modelo" placeholder="Modelo" required>
                            </div>

                            <div class="form-group col-lg-6">
                                <label for="´procesador">Procesador del equipo</label>
                                <input type="text" class="form-control" id="procesador"
                                    placeholder="procesador Del Equipo" required>
                            </div>
                        </div>
                        <br>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="fecha">Fecha de inicio</label>
                                <input class="form-control" type="date" id="fecha">
                            </div>

                            <div class="form-group col-lg-6">
                                <label for="fecha">Fecha de fin</label>
                                <input class="form-control" type="date" id="fecha">
                            </div>
                        </div>
                        <br>

                        
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="medio_pago">Medio de pago</label>
                                <select class="form-control" id="medio_pago" required>
                                    <option value="">Medio de pago</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Credito">Credito</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6">
                                <label for="tipo_pc">Escribenos tus requirimientos</label>
                                <textarea class="form-control" id="comentario" rows="3"
                                    placeholder="Escribenos tu requirimientos" required></textarea>
                            </div>
                        </div>


                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Enviar</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>