<body>
    <br>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <br>

                <youtube-player videoId="r6IRxm_fLfg" [width]="500"></youtube-player>
                <!--img  width="90%" height="400px" src="assets/alquiler.png" alt=""-->
                
            </div>
            <div class="col-lg-6">
                <p class="lead"><span style="color: #000000; font-size: 95%;">
                  <h1 style="text-align: left;"><span style="font-size: 100%;"><span style="color: #1C8CE9;"
                    data-line-height="x5"> ¿Quienes Somos?</span></span></h1>
                        Somos el equipo que ofrece el arrendamiento de equipos de cómputo. Logrando año con año una madurez comercial que nos permite continuar ofreciendo nuestros servicios con la misma calidad que cuando iniciamos nuestro proyecto empresarial. <br><br>
                        Con el apoyo, compromiso, competencias de nuestros colaboradores y tecnologías de vanguardia. Contamos con más de 18 años de experiencia en el mercado colombiano brindando soluciones en el alquiler de equipos de cómputo e informática.</span></p>
            </div>
        </div>  

        <br><hr>
        <div class="row">
          <div class="col-lg-6">
            <p class="lead"><span style="color: #000000; font-size: 95%;">
              <h1 style="text-align: left;"><span style="font-size: 100%;"><span style="color: #1C8CE9;"
                data-line-height="x5">Misión</span></span></h1>
                Potencializar el éxito de nuestros clientes a través de la implementación de las TIC, ofreciéndole la mejor calidad en nuestro servicio y equipos de vanguardia. En coordinación con el mejor grupo de profesionales. Estando en constante innovación.</span></p>
            </div>

            <div class="col-lg-6">
              <p class="lead"><span style="color: #000000; font-size: 95%;">
                <h1 style="text-align: left;"><span style="font-size: 100%;"><span style="color: #1C8CE9;"
                  data-line-height="x5">Visión</span></span></h1>
                  Nos proyectamos como la empresa que ofrece herramientas tecnológicas a nivel regional, generando más utilidades en las organizaciones. Ya que nuestras TIC soportan respuestas en tiempo real para agilizar los procesos productivos de nuestros clientes.</span></p>
              </div>
        </div>
        
        <br><hr>

        <div class=" font-weight-cooper text-center text-primary">
            <h1><span style="font-size: 100%;"><span style="color: #0772ca;"
                data-line-height="x5">Con las mejores marcas</span></span></h1>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <img height="120px"  src="assets/hp.jpg" alt="Hp">
            </div>
  
            <div class="col-lg-3">
                <img height="120px" src="assets/apple.jpg" alt="Apple">
            </div>

            <div class="col-lg-3">
                <img height="120px" src="assets/samsung.jpg" alt="Samsung">
            </div>

            <div class="col-lg-3">
                <img height="130px" src="assets/dell.png" alt="Dell">
            </div>
        </div>

    </div>
</body>
