<body>
    <div class="container contact-form">
        <br>
        <h1 class="text-primary">Contactatate con nosotros</h1>
        
        <div class="row">
         
             <div class="col-lg-6">
                <img height="80%"  src="assets/contactenos.jpg" alt="Hp">                     
             </div>
      
             <div class="col-lg-6">
                <p>Por favor, complete el siguiente formulario y envíelo con sus preguntas o llámenos
                    al +57 300 4471 108. Nos contactaremos a la brevedad.</p>

                    <form>
                        <div class="form-row">
                          <div class="col-lg-12">
                            <input type="text" class="form-control" id="nombres" placeholder="Nombre completo" required>
                          </div>
                        </div>
<br>

                        <div class="form-row">
                          <div class="col-lg-12">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="email">@</span>
                              </div>
                              <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" aria-describedby="email2" required>
                            </div>
                          </div>
                        </div>
<br>
                        <div class="form-row">
                          <div class="col-lg-12">
                            <div class="input-group">
                              <input type="text" class="form-control" id="asunto" placeholder="Asunto" aria-describedby="asunto" required>
                            </div>
                          </div>
                        </div>

    <br>
                        <div class="form-group">
                            <textarea class="form-control" id="comentario" rows="3" placeholder="Escribenos tu comentarios" required></textarea>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Enviar</button>
                          </div> 
                    </form> 
                
             </div>
          </div>
    </div>
</body>
